[flake8]
ignore =
    # Ignore line length
    E501,
    # Ignore unused imports
    F401,
    # Ignore tabs
    W191,
    # Ignore blank lines whitespace
    W293
exclude =
    # Ignore our virtual environment
    venv,
    # Ignore IDEs
    .idea,
    # Don't lint our git repo
    .git,
    .github,
    # Ignore pytest cache
    .pytest_cache,
    # Ignore VSCode
    .vscode,
    # Ignore flake8
    .flake8
count = True
show_source = True